LINKEDIN_USERNAME=linkedin_email
LINKEDIN_PASSWORD=linkedin_password
SCHEDULE_DATE=MM/DD/YYYY
SCHEDULE_TIME="HH:MM AM/PM"
SCHEDULE_POST=true/false
POST_FILE_PATH=./content/post_001.txt
HEADLESS=true/false